@import "tailwindcss";
@theme {
  --color-primary-color: #5C9CAD;
  --color-secondary-color: #4d8294;
  --color-tertiary-color: #4d8294;
  --color-quaternary-color: #4d8294;
  --color-quinary-color: #4d8294;
  --color-senary-color: #4d8294;
  --color-septenary-color: #4d8294;
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
